$title: rgb(54, 56, 56);
$default: rgb(90, 90, 90);

%title-font {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
